h1{
    color: blue;
}
.p1{
    background-color: brown;
}
.p2{
    background-color: chocolate;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.p3{
    background-color: red;
}
.p4{
    background-color: blue;
}

#user_name{
    background-color: pink;
}

#password{
    background-color: black;
}